.nonna-main-logo {
    width: 225px;

    path {
        fill: #c1ad91;
    }
}

.main-nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2, h3 {
    font-family: 'Sovmod', sans-serif;
    text-transform: uppercase;
}

.intro-section {
    height: 100vh;

    > .container {
        height: 100%;
    }

    .intro-section-heading {
        width: 1000px;
    }

    .intro-section-text {
        width: 800px;
    }
}

.home-page {
    .intro-section-3 {
        .intro-section-text {
            width: 500px;
        }
    }
    .intro-section-4 {
        .intro-section-text {
            width: 620px;
        }
    }
}

.shading {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    pointer-events: none !important;
}

.nonna-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
}


.section-content {
    display: block;
}

.intro-section {
    background-size: cover;
    background-position: 50% 100%;

    .container {
        text-align: center;
    }

    p {
        margin: 40px auto 0;
        display: block;
        font-weight: 300;
    }

    .nonna-btn {
        margin-top: 40px;
    }

    .header-logo-and-menu {
        top: 60px;
    }
}

.home-page {
    .intro-section {
        p {
            width: 600px;
        }

        &:first-child {
            .section-content {
                margin-top: 100px;
            }
        }
    }
}

.header-logo-and-menu {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .navbar {
        //text-transform: uppercase;

        .nav-item {
            &:not(:first-child) {
                margin-left: 10px;
            }

            .nav-link {
                color: $menu-item-color;
                font-weight: 400;

                &:hover,
                &.router-link-active {
                    color: $menu-active-item-color;
                }
            }
        }
    }
    .sidenav-menu {
        //text-transform: uppercase;

        .nav-item {

            .nav-link {
                color: $menu-item-color;
                font-weight: 400;

                &:hover,
                &.router-link-active {
                    color: $menu-active-item-color;
                }
            }
        }
    }


    .header-mobile-menu-and-lang {
        display: flex;
        flex-direction: row;
    }
}

.navbar {
    //text-transform: uppercase;

    .nav-item {
        .nav-link {
            &:hover,
            &.router-link-active {
                color: $menu-active-item-color;
            }
        }
    }
}

h1, h2 {
    font-weight: 100;
}

.nonna-btn {
    text-decoration: none;
    color: white;
    padding: 30px 100px;
    border: 1px solid white;
    //text-transform: uppercase;
    border-radius: 300px;
    display: inline-block;
}

.black-text-btn {
    color: black;
    border-color: black;
}


.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    //min-height: max(875px, 100vh);
    background-color: #303030;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;

    .row {
        text-align: left;
        margin-top: 65px;

        .footer-column {
            display: flex;
            flex-direction: column;
            padding-top: 60px;
            padding-left: 40px;

            .address-container {
                li {
                    margin-top: 40px;

                    > p {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .footer-text {
            margin-top: 65px;
        }

        .footer-social {
            margin-top: auto;
            margin-bottom: 0;
        }

        .conf-policy {
            margin-top: 40px;
            font-size: 16px;
        }

        .phone-link {
            margin-top: 40px;
        }

        .address-container {
            margin-top: auto;
            margin-bottom: 0;
        }
    }

    h2 {
        display: inline-block;
        font-size: 64px;
    }
}

.footer-logo {
    width: 365px;
}

.social-icons {
    ul {
        padding: 0;

        > li {
            display: inline-block;
            margin-right: 1rem;
        }
    }
}

.contact-icon {
    width: 64px;
    height: 64px;
    background-size: contain;
}

.vk-contact-icon {
    background-image: url('/public/images/vk_social.png');
}

.instagram-contact-icon {
    background-image: url('/public/images/instagram_social.png');
}

.telegram-contact-icon {
    background-image: url('/public/images/telegram_social.png');
}

.youtube-contact-icon {
    background-image: url('/public/images/youtube_social.png');
}

.phone-contact-icon {
    background-image: url('/public/images/phone_icon.png');
}

.phone-link {
    text-decoration: none;
    color: white;
    font-size: 36px;
    display: inline-block;
}

.address-container {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin-top: 20px;
        }
    }

    h4, p {
        font-size: 32px;
    }

}

.list-of-content-section {
    color: $text-description-color;
    padding: 100px 0;

    p {
        font-weight: 300;
    }

    .category-links {
        .navbar {
            flex-wrap: nowrap;
            justify-content: flex-start;

        }

        .navbar-collapse {
            display: flex !important;
            flex-basis: auto;
        }

        .navbar-nav {
            flex-direction: row;

            .nav-link {
                padding-right: var(--bs-navbar-nav-link-padding-x);
                padding-left: var(--bs-navbar-nav-link-padding-x);
            }
        }
    }

    .category-content {
        width: 100%;
        height: 100%;
        aspect-ratio: 1;
        object-fit: cover;
    }

    .nonna-btn {
        margin-top: 40px;
        color: black;
        font-weight: 400;
        border: 2px solid black;
    }

    .navbar-nav {
        .nav-item {
            font-weight: 600;

            .nav-link.active {
                color: $menu-active-item-color;
            }
        }

        .nav-item:first-child .nav-link {
            padding-left: 0;
        }

    }
}

.hover-box {
    position: relative;
    .content-box {
        opacity: 0;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        transition-duration: 1s;

        &:hover {
            opacity: 1;
        }

        p {
            font-size: 16px;
            width: 80%;
            text-align: center;
            //text-transform: uppercase;
            font-weight: 400;
            color: white;
        }
    }
    .responsive-name {
        display: none;

        a {
            text-decoration: none;
            color: $text-description-color;
        }
        p {
            margin: 10px 0;
        }
    }
}

.flex-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.language {
    display: flex;
    align-items: center;
    justify-content: center;

    .language-link {
        text-decoration: none;
        color: lighten($text-description-color, 20);
        font-family: 'Inter', sans-serif;
    }
}

.two-columns {
    padding: 100px 0;
    color: black;

    &.rtl .row {
        flex-flow: row-reverse;

        .column-2 {
            padding-left: 0;
            padding-right: 100px;
        }
    }

    .main-image {
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
    }

    .heading {
        font-size: 64px;
        color: black;
    }

    .contacts-container{
        .heading {
            font-size: 32px;
        }

        .sub-heading {
            font-size: 20px;
            color: black;
        }

        .phone-link {
            color: black;
            font-size: 20px;
            font-weight: 400;
        }


        &:not(.first),
        .text {
            margin-top: 40px;
        }

        .map-widget {
            width: 100%;
            height: 400px;
            margin-top: 30px;

            .iframe-map {
                width: 100%;
                height: 100%;
            }
        }
    }



    .text {
        color: $text-description-color;
        font-size: 20px;
        font-weight: 400;
    }

    .column-2 {
        display: flex;
        justify-content: center;
        padding-left: 100px;
        flex-direction: column;
    }
}

.contacts-map {
    padding: 0 0 80px 0;

    .iframe-map {
        width: 100%;
        height: 580px;
    }
}

.trailer-page {
    .two-images {
        min-height: 100vh;
        padding: 80px 0;

        &.first,
        &.second {
            .column-1,
            .column-2 {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: 100%;
                .main-image {
                    max-width: 100%;
                }
            }
        }
        &.second {
            .column-1,
            .column-2 {
                justify-content: flex-start;
            }
        }
    }
    .trailer-desc {
        padding: 80px 0;
        .column-1 {
            .main-image {
                width: 100%;
            }
        }

        .column-2 {
            height: 100%;
            align-items: center;
            display: flex;
            padding-left: 100px;
            padding-right: 100px;
        }

        .trailer-desc-text {
            color: black;
            //text-transform: uppercase;
            font-size: 20px;
            font-weight: 700;
        }
    }
}

.parquet-page {
    .parquet-intro-section {
        height: 660px;
        .section-content{
            color: black;
        }
    }
    .two-columns {
        .column-1 {
            .wood-type {
                font-weight: 400;
                color: $menu-active-item-color;
                //text-transform: uppercase;
            }
        }
        .column-2 {
            justify-content: flex-start;
            h3 {
                font-size: 32px;
                max-width: 700px;
            }

            .text {
                margin-top: 40px;
                margin-bottom: 0;
            }

            .nonna-btn {
                margin-right: auto;
                padding: 30px;
                margin-top: 40px;
            }
        }
    }

    .specification-section {
        padding: 100px 0;

        .specification-heading {
            font-size: 64px;
            color: black;
        }

        .table {
            margin-top: 40px;

            td {
                width: 50%;
                padding: 30px 40px;

                .specification-name,
                .specification-value {
                    //text-transform: uppercase;
                    color: $menu-active-item-color;
                    font-size: 20px;
                    margin: 0;
                }

                .specification-value {
                    color: black;
                    font-weight: 400;
                }
            }
        }
    }

    .parquet-projects {
        padding: 80px 0;

        .parquet-used-projects {
            color: $text-description-color;
            font-weight: 400;
            max-width: 525px;
        }

        .parquet-project-image {
            width: 100%;
        }
    }
}

.pending-message {
    color: black;
    font-size: 76px;
}


.news-page {
    .news-intro-section{
        &.intro-section {
            height: 550px;

            .section-content {
                h1 {
                    color: black;
                }
            }
        }
    }

    .two-columns {
        padding: 0 0 80px;

        .column-2 {
            justify-content: flex-start;
        }
    }

    .hover-box .content-box:hover {
        opacity: 0;
    }

    .responsive-name {
        display: block;
    }
}

.project-page {
    .project-intro-section {
        &.intro-section {
            height: 550px;

            .section-content {
                h1 {
                    color: black;
                }
            }
        }
    }

    .two-columns {
        padding: 0 0 80px;

        .column-2 {
            justify-content: flex-start;
        }

        .text {
            color: black;
        }
    }

    .parquet-link {
        text-decoration: none;
        color: $text-description-color;
    }

    .section-author {
        &.two-columns {
            .column-2 {
                padding-left: 15px;
            }
        }

        p {
            //text-transform: uppercase;
            font-size: 20px;
            font-weight: 400;
        }
    }

    .author-text {
        margin-top: 30px;
    }

    .instagram-link {
        text-decoration: none;
        color: $text-description-color;
    }

    .project-static-desc {
        color: $text-description-color;
        font-weight: 400;
    }
}

.sidenav-menu {
    position: fixed;
    top: 0;
    z-index: 1000000;
    left: 4000px;
    width: 100%;
    height: 100%;
    background: #303030;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    transition: 0.5s ease-in-out;

    padding-left: 40px;

    &.show {
        left: 0;
        transition: 0.5s ease-in-out;
    }

    .navbar-nav {
        text-align: left;
        //text-transform: uppercase;
        font-weight: 400;
    }

    .close-mobile-menu {
        position: absolute;
        right: 40px;
        top: 85px;
        cursor: pointer;
    }
}

.hamburger-menu-icon {
    cursor: pointer;
}

.show-mobile-nav-container {
    display: none;
    flex-direction: column;
    justify-content: center;
}

.parquet-specifications {
    display: flex;
    flex-direction: column;
    padding-top: 40px;

    .specs-row {
        display: flex;
        flex-direction: row;

        .specification-name {
            width: 350px;
            color: $menu-active-item-color;
        }
    }
}

.video-background {
    position: relative;
    width: 100%;
    object-fit: cover;
    object-position: center;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    &.mobile {
        display: none;
    }
}

.nonna-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;

    .footer & {
        align-items: flex-start;

        .nonna-main-logo {
            width: 365px;
            max-width: 100%;
        }
    }
}

.about-page {
    .video-section {
        background: #303030;
        height: auto;
        .header-logo-and-menu {
            position: relative;
            top: 0;
        }
    }
    .about-section-6 {
        background-position: top;
    }
}
