.intro-section {
    height: 100vh;

    > .container {
        height: 100%;
    }
}

.shading {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.nonna-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
}

.section-content {
    display: block;
}

.intro-section {
    background-size: cover;
    background-position: 50% 100%;

    .container {
        text-align: center;
    }

    p {
        margin: 40px auto 0;
        display: block;
        font-weight: 100;
    }

    .nonna-btn {
        margin-top: 40px;
    }

    .header-logo-and-menu {
        top: 95px;
    }
}

.home-page {
    .intro-section {
        p {
            width: 600px;
        }
    }
}

.header-logo-and-menu {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .navbar {
        text-transform: uppercase;

        .nav-item {
            &:not(:first-child) {
                margin-left: 10px;
            }

            .nav-link {
                color: $menu-item-color;
                font-weight: 400;

                &:hover,
                &.router-link-active {
                    color: $menu-active-item-color;
                }
            }
        }
    }
}

.navbar {
    text-transform: uppercase;

    .nav-item {
        .nav-link {
            &:hover,
            &.router-link-active {
                color: $menu-active-item-color;
            }
        }
    }
}

h1, h2 {
    font-weight: 100;
}

.nonna-btn {
    text-decoration: none;
    color: white;
    padding: 30px 100px;
    border: 1px solid white;
    text-transform: uppercase;
    border-radius: 300px;
    display: inline-block;
}


.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: max(875px, 100vh);
    background-color: #303030;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;

    .row {
        height: 670px;
        text-align: left;
        margin-top: 65px;

        .footer-column {
            display: flex;
            flex-direction: column;
            padding-top: 60px;
            padding-left: 40px;

            .address-container {
                li {
                    margin-top: 40px;

                    > p {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .footer-text {
            margin-top: 65px;
        }

        .footer-social {
            margin-top: auto;
            margin-bottom: 0;
        }

        .conf-policy {
            margin-top: 40px;
            font-size: 16px;
        }

        .phone-link {
            margin-top: 40px;
        }

        .address-container {
            margin-top: auto;
            margin-bottom: 0;
        }
    }

    h2 {
        display: inline-block;
        font-size: 64px;
    }
}

.footer-logo {
    width: 365px;
}

.social-icons {
    ul {
        padding: 0;

        > li {
            display: inline-block;
            margin-right: 1rem;
        }
    }
}

.contact-icon {
    width: 64px;
    height: 64px;
    background-size: contain;
}

.vk-contact-icon {
    background-image: url('/public/images/vk_social.png');
}

.instagram-contact-icon {
    background-image: url('/public/images/instagram_social.png');
}

.telegram-contact-icon {
    background-image: url('/public/images/telegram_social.png');
}

.youtube-contact-icon {
    background-image: url('/public/images/youtube_social.png');
}

.phone-contact-icon {
    background-image: url('/public/images/phone_icon.png');
}

.phone-link {
    text-decoration: none;
    color: white;
    font-size: 48px;
    display: inline-block;
}

.address-container {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin-top: 20px;
        }
    }

    h4, p {
        font-size: 32px;
    }

}

.list-of-content-section {
    color: #B4B4B4;
    padding: 100px 0;

    p {
        font-weight: 300;
        width: 1100px;
    }

    .category-links {
        .navbar {
            flex-wrap: nowrap;
            justify-content: flex-start;

        }

        .navbar-collapse {
            display: flex !important;
            flex-basis: auto;
        }

        .navbar-nav {
            flex-direction: row;

            .nav-link {
                padding-right: var(--bs-navbar-nav-link-padding-x);
                padding-left: var(--bs-navbar-nav-link-padding-x);
            }
        }
    }

    .category-content {
        width: 100%;
        height: 100%;
    }

    .nonna-btn {
        margin-top: 40px;
        color: black;
        font-weight: 400;
        border: 2px solid black;
    }

    .navbar-nav {
        .nav-item {
            font-weight: 600;
        }

        .nav-item:first-child a {
            padding-left: 0;
        }
    }
}

.hover-box {
    position: relative;
    .content-box {
        opacity: 0;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        transition-duration: 1s;

        &:hover {
            opacity: 1;
        }

        p {
            font-size: 16px;
            width: 80%;
            text-align: center;
            text-transform: uppercase;
            font-weight: 400;
            color: white;
        }
    }
}

.flex-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
