.intro-section {
    height: 100vh;

    > .container {
        height: 100%;
    }
}

.nonna-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
}

.section-content {
    display: block;
}

.intro-section {
    background-size: cover;
    background-position: 50% 100%;
    overflow: hidden;

    .container {
        text-align: center;
    }

    p {
        margin-top: 40px;
        margin-bottom: 0;
    }

    .nonna-btn {
        margin-top: 40px;
    }

    .header-logo-and-menu {
        top: 95px;
    }
}

.header-logo-and-menu {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .navbar {
        text-transform: uppercase;

        .nav-item {
            &:not(:first-child) {
                margin-left: 10px;
            }

            .nav-link {
                color: $menu-item-color;
                font-weight: 400;
            }
        }
    }
}

h1, h2 {
    font-weight: 100;
}

.nonna-btn {
    text-decoration: none;
    color: white;
    padding: 30px 100px;
    border: 1px solid white;
    text-transform: uppercase;
    border-radius: 50px;
    display: inline-block;
}
