@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700;900&display=swap');

@import 'variables';

@import 'bootstrap/scss/bootstrap';

@import 'mixins';


:root {
  --theme-deafult: #B89254;
  // This gradient color only for gym layout
  --theme-gradient1: #01effc;
  --theme-gradient2: #485ff2;
}

@import 'style';
@import 'responsive';
